<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdmv7qPjqU4i3nPo0tc9L6zq82kVKsFaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>81875693661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbLearn</string>
	<key>PROJECT_ID</key>
	<string>login-cb244</string>
	<key>STORAGE_BUCKET</key>
	<string>login-cb244.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81875693661:ios:f0eb2cb701a9e32f7e5db4</string>
</dict>
</plist>